# Importaciones

In [1]:
import pandas as pd
import numpy as np

# Carga de Datos

In [2]:
tecnologia = pd.read_csv("Tenencia, acceso y uso de los bienes y servicios TIC por sede educativa.CSV")
caratula = pd.read_csv("Carátula Limpia.CSV", encoding = "latin1", sep = ";")

Se verifican los tamaños

In [3]:
print(f"Tecnología: {tecnologia.shape}")
print(f"Carátula: {caratula.shape}")

Tecnología: (53148, 29)
Carátula: (56269, 10)

De esta forma, se decide unir Tecnología a Carátula a partir del índice

In [4]:
print(tecnologia.columns[0])
print(caratula.columns[0])

SEDE_CODIGO
SEDE_COD

In [8]:
caratula.rename(columns={"SEDE_COD":"SEDE_CODIGO"},inplace=True)

# Unión de los dataset

In [9]:
union = pd.merge(caratula,tecnologia,on="SEDE_CODIGO",how = "left")

Ahora se filtran las columnas que no servirían para el análisis

In [11]:
union.drop(columns=['PERIODO_ID', 'PERIODO_ANIO', 'SEDETE_ELECTRICIDAD','SEDETE_TELEVISION', 'TIENETELEVISION',
                    'SEDETE_LINEA_TEL', 'TIENELINEATELEFONICA', 'SEDETE_CANTIDAD_LINEA_TEL',
                    'SEDETE_RADIO', 'TIENERADIO', 'SEDETE_LAN', 'TIENELAN','SEDETE_INTERNET',
                    'SEDETE_AULAS_INFOR','SEDETE_EQUIPO_COMPUTO','SEDETE_SERVICIO_EXTERNO', 'TIENESERVICIOEXTERNO', 'SEDETE_FINES_EDUC',
                    'SEDETE_SERVICIO_EXTERNO', 'TIENESERVICIOEXTERNO', 'SEDETE_FINES_EDUC','SEDETE_PLAN_TIC',
                    'FINESEDUCATIVOS', 'SEDETE_ACTIVIDAD_COMUNIDAD', 'ACTIVIDADCOMUNIDAD'],inplace=True)

In [12]:
union.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56269 entries, 0 to 56268
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SEDE_CODIGO            56269 non-null  int64
 1   CODIGOINTERNODEPTO     56268 non-null  float64
 2   DEPTO                  56268 non-null  object
 3   CODIGOINTERNOMUNI      56268 non-null  float64
 4   MUNI                   56268 non-null  object
 5   AREA_NOMBRE            56268 non-null  object
 6   SECTOR_NOMBRE          56269 non-null  object
 7   ES_BILINGUE            53157 non-null  object
 8   Unnamed: 8             1 non-null      float64
 9   Unnamed: 9             1 non-null      object
 10  TIENEELECTRICIDAD      53148 non-null  object
 11  TIENEINTERNET          53148 non-null  object
 12  TIENEAULASINFORMATICA  42373 non-null  object
 13  SEDETE_CANTIDAD_AULAS  42360 non-null  float64
 14  TIENEEQUIPOCOMPUTO     53148 non-null  object
 15  PLANTIC                53148 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 6.9+ MB

In [13]:
union.to_csv("educacion_para_mapa.csv", sep=";")